open-cx-master/open-cx-master/open_cx/.gradle/
open-cx-master/open-cx-master/open_cx/gradle/
open-cx-master/open-cx-master/open_cx/gradlew
open-cx-master/open-cx-master/open_cx/gradlew.bat
open-cx-master/open-cx-master/open_cx/local.properties
 
